$white: #ffffff;
$black: #000000;
$almostBlack: #1B1C20;
$backgroundColor: #DBDBDB;
$grey: #EEEEEE;
$yellow:#F7B602;
$lightYellow:#FFEEBF;
$loginBg: #edebee;
$signupBg:#dfe8ef;
$darkGrey: #515151;
$darkText: #474747;
$lightGrey: #7B7B80;
$titleBlack: #181818;
$errorColor: #ff0000;
$commentColor: #2F2F2F;
$inutBorder:#DADADA;