$white: #ffffff;
$black: #000000;
$almostBlack: #1B1C20;
$backgroundColor: #DBDBDB;
$grey: #EEEEEE;
$yellow:#F7B602;
$loginBg: #edebee;
$signupBg:#dfe8ef;
$darkGrey: #515151;
$darkText: #474747;
$lightGrey: #7B7B80;