.banner {
	width:100%;
	background-color: $almostBlack;
	background-image: url('../../images/mainPageBannerImage.png');
	background-repeat: no-repeat;
	background-position: right;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	&_content {
		width: 1100px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		height: 500px;
		gap: 44px;

		&-text {
			@include NunitoFont(56px, $white);
		}

		&-button {
			@include NunitoFont(20px, $black, 600);
			border-radius: 38px;
			border: none;
			background-color: $yellow;
			text-align: center;
			width: 230px;
			height: 48px;
		}
	}
}