@import 'reset';
@import 'vars/colors';
@import 'vars/vars';
@import 'vars/mixins';
@import 'common/commonStyles';
@import '../app/components/mainPage/cookBook/cookBook';
@import '../app/components/headerAndFooter/header/header';
@import '../app/components/headerAndFooter/footer/footer';
@import '../app/components/mainPage/mainSection/mainSection';
@import '../app/components/mainPage/banner/banner';
@import '../app/components/mainPage/popularCookBooks/popularCookbook';
@import '../app/components/mainPage/pickedArticles/pickedArticles';
@import '../app/components/mainPage/trendingRecepies/trandingRecepies';
@import '../app/components/search/recepiesSearch/recepiesSearch';
@import '../app/components/search/cooksBookSearch/cookBookSearch';
@import '../app/components/search/searchSection';
@import '../app/components/auth/loginSection/logIn';
@import '../app/components/auth/signUpSection/signUp';
@import '../app/components/auth/authForm/authForm';
@import '../app/components/auth/authSectionMessage/authSectionMessage';
@import '../app/components/profile/profilePage';
@import '../app/components/recepies/recipes';

#root {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $backgroundColor;
}