.header {
	height: 65px;
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-width: 1110px;
	padding: 15px 0;
	background-color: $white;

	&_content {
		display: flex;
		box-sizing: border-box;
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
		width: 1100px;
	}

	&_title {
		@include NunitoFont(24px, $black, bold);
		flex-grow: 1;

		&>span {
			color: $yellow;
		}
	}
}

.navbar {
	height: 100%;
	flex-grow: 3;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	&_link {
		@include NunitoFont(16px, $black, 400);
		&__white{
			color: $white;
		}
	}

	&_seach-input {
		width: 380px;
		background-color: $grey;
		border-radius: 37px;
		border: none;
	}
}

.auth-section {
	height: 100%;
	flex-grow: 2;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 30px;

	&_link {
		@include NunitoFont(16px);
	}
}