.auth-section{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	box-sizing: border-box;
	width: 555px;
	min-height: 650px;
	background-color: $white;
	padding: 70px;
	border-radius: 16px;
	&_title {
		@include NunitoFont(50px, $black, bold);

		&>span {
			color: $yellow;
		}
	}
	&_message{
		@include NunitoFont(32px, $black, 600);
		&>span{
			@include NunitoFont(16px, $lightGrey);
			&>a{
				color: $yellow;
				&:hover{
					text-decoration: underline;
					text-decoration-color: $yellow;
				}
			}
		}
	}
}
.auth-form{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width:100%;
	min-height: 300px;
	&>label{
		@include NunitoFont(16px, $lightGrey, 600);
	}
	&>input{
		width: 100%;
		height:45px;
		border: 1px solid $lightGrey;
		box-sizing: border-box;
		border-radius: 8px;
		&:hover{
			box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.4);
		}
	}
	&>button{
		width: 100%;
		height: 45px;
		background-color: $yellow;
		@include NunitoFont(20px);
		text-align: center;
		border-radius: 8px;
		border: none;
		&:hover{
			box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.4);
		}
	}
}
.password-restore-link{
	@include NunitoFont(16px, $lightGrey, 600);
	display: block;
	align-self: center;
	&:hover{
		text-decoration: underline;
		text-decoration-color: $lightGrey;
	}
}
@mixin authPage($bgImg:'../../images/logInImg.png', $bgColor: #fff, $bgPos:'right', $innerDivPos: flex-start){
	background-image: url($bgImg);
	min-height: 900px;
	background-repeat: no-repeat;
	background-position: $bgPos;
	background-color: $bgColor;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	&>div{
		width:1100px;
		display:flex;
		justify-content: $innerDivPos;
		align-items: center;
	}
}

.login-section{
	@include authPage($bgImg: '../../images/logInImg.png', $bgColor: $loginBg, $innerDivPos: flex-start);
}
.signup-section{
	@include authPage($bgImg: '../../images/signUpImg.png', $bgColor: $signupBg, $bgPos:'right', $innerDivPos: flex-end);
}